.ptc__faq {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.ptc__faq-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ptc__faq-heading h1 {
  font-weight: 700;
  color: #1f2134;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.ptc__faq-questions {
  display: block;
  justify-content: center;
  align-items: center;
}

.ptc__faq-questions-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ptc__faq-questions-sub h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ptc__faq-questions-sub .icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
