.ptc__header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.ptc__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.ptc__header-content h1 {
  font-family: var(--font-family);
  font-size: 58px;
  font-weight: 700px;
  line-height: 64px;
  color: #fff;
}

.ptc__header-content h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: normal;
  color: #fff;

  margin: 10px 0 0 0;
  margin-top: 1.5rem;
}

.ptc__header-content-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ptc__header-content .ptc__header-button_out {
  border: 1px solid #fff;
  background: none;
  padding: 13px 64px;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 13px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 700;
  outline: none;
}

.ptc__header-content .ptc__header-button_pred {
  border: 1px solid #2449e8;
  background: linear-gradient(133deg, #2449e8, #021a88);
  padding: 13px 64px;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 13px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 700;
  outline: none;
}

.ptc__header-content .ptc__header-button_bnb {
  border: 1px solid #fac000;
  background: linear-gradient(133deg, #fac000, #f39601);
  padding: 13px 64px;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 13px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 700;
  outline: none;
}

.ptc__header-content_image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;

  margin-top: 0rem;
}

.ptc__header-content_image img {
  width: 40%;
  height: 20%;
}

@media screen and (min-width: 1050px) {
  .ptc__header {
    flex-direction: column;
  }

  .ptc__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (min-width: 650px) {
  .ptc__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .ptc__header-content {
    margin: 0 0 3rem;
  }
}

/* .ptc__header-content button {
    border: 1px solid #fff;
    padding: 13px 64px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
  } */
