html {
  font-size: 62.5%;
}

.section__padding {
  padding-top: 15rem;
}

.ptc__header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(23, 16, 16, 0.6),
      rgba(23, 16, 16, 0.6)
    ),
    url(../../../assets/pics/hero-bg.jpg) top center;

  background-size: cover;
  position: relative;


  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.ptc__header {
  display: grid;
  grid-template-rows: 6rem;
  grid-template-columns: 1.5fr 1fr;
}

.ptc__header-content {
  position: relative;
  opacity: 1;
}

#slideMeLeft {
  animation: slideMe 0.7s ease-in;
}

@keyframes slideMe {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: skewY(0deg);
  }
}

/* Right */
.ptc__header-content-image {
  display: block;
  grid-template-rows: 60px;
  grid-template-columns: auto 1fr 1fr;
}

#slideMeRight {
  animation: slideRight 0.7s ease-in;
}

@keyframes slideRight {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: skewY(0deg);
  }
}

.ptc__header-content-image img {
  margin: auto;
  width: 100%;
}

.ptc__header-content h1 {
  font-family: var(--font-family);
  font-size: 58px;
  font-weight: 700px;
  line-height: 64px;
  color: #fff;
}

.ptc__header-content h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: normal;
  color: #fff;

  margin-right: 1rem;
  margin-top: 2rem;
}
.ptc__header-content h1,
.ptc__header-content h2 {
  position: relative;
}

.ptc__header-content_button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 4rem;
}

.ptc__header-content_button a {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 13px;
  display: inline-block;

  /* text-decoration: none; */
  text-align: center;
  color: #fff;
  font-weight: 700;
  outline: none;

  cursor: pointer;
  text-decoration: none;
}

.ptc__header-content .ptc__header-button_out {
  border: 1px solid #fff;
  background: none;
}

.ptc__header-content .ptc__header-button_pred {
  border: 1px solid #2449e8;
  background: linear-gradient(133deg, #2449e8, #021a88);
}

.ptc__header-content .ptc__header-button_bid {
  border: 1px solid #be0d00;
  background: linear-gradient(133deg, #e84124, #be0d00);
}

.ptc__header-content .ptc__header-button_bnb {
  border: 1px solid #fac000;
  background: linear-gradient(133deg, #fac000, #f39601);
}

@media screen and (max-width: 490px) {
  .section__padding {
    padding-top: 7rem;
  }
  .ptc__header {
    display: block;
    align-items: center;
    background-size: cover;
  }

  .ptc__header-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-top: -20px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .ptc__header-content h1 {
    display: block;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 500px;
    color: #fff;
    text-align: center;
    line-height: 30px;

    /* max-width: 900px; */
    /* margin-top: 27rem; */
  }

  .ptc__header-content h2 {
    display: inline-block;
    font-family: var(--font-family);
    font-size: 19px;
    color: #fff;
    text-align: center;

    margin-right: 0 1rem;
    max-width: 800px;
  }

  .ptc__header-content-image img {
    width: 100%;
    margin-top: 2rem;

    vertical-align: middle;
  }

  .ptc__header-content_button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
  }

  .ptc__header-content .ptc__header-button_out {
    margin: 1rem;
    width: 100%;
  }

  .ptc__header-content .ptc__header-button_pred {
    margin: 1rem;
    width: 100%;
  }

  .ptc__header-content .ptc__header-button_bid {
    margin: 1rem;
    width: 100%;
  }

  .ptc__header-content .ptc__header-button_bnb {
    margin: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ptc__header {
    display: block;
    align-items: center;
    background-size: cover;
  }

  .ptc__header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 500px; */
    /* padding: 2rem; */
  }

  .ptc__header-content h1 {
    display: block;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 500px;
    color: #fff;
    text-align: center;
    line-height: 30px;
  }

  .ptc__header-content h2 {
    display: inline-block;
    font-family: var(--font-family);
    font-size: 19px;
    color: #fff;
    text-align: center;
    /* 
    margin-right: 0 1rem;
    max-width: 800px; */
  }

  .ptc__header-content_button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
  }

  .ptc__header-content .ptc__header-button_out {
    margin: 1rem;
    width: 100%;
  }

  .ptc__header-content .ptc__header-button_pred {
    margin: 1rem;
    width: 100%;
  }

  .ptc__header-content .ptc__header-button_bnb {
    margin: 1rem;
    width: 100%;
  }
}
