.staking__table {
	width: 100%;
	overflow: auto;
	max-height: 60vh;

	#table {
		position: relative;
		display: table;
		height: 70vh;
		white-space: nowrap;
		border-collapse: collapse;
		text-align: center;
		width: 100%;
		margin-bottom: 30px;

		.gZOAy {
			background: radial-gradient(
				123.22% 129.67% at 100.89% -5.6%,
				#201d47 0%,
				#17153a 100%
			);
		}

		.table__head,
		.table__data {
			padding: 2rem 1rem;
			min-width: 100px;
		}

		.table__header {
			background: #17153a;
			width: 100%;
			position: sticky;
			top: 0;
			z-index: 2;

			.table__head {
				position: sticky;
				top: 0;
				z-index: 2;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 21px;
				color: #ffffff;
				opacity: 0.2;
			}
		}

		.table__body {
			.table__row {
				position: relative;

				.table__row__options {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: #000000, $alpha: 0.2);
				}

				.table__data {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					text-align: center;
					letter-spacing: 0.392857px;
					text-transform: uppercase;
					color: #ffffff;

					&:nth-child(2) {
						img {
							margin-right: 13px;
						}
					}

					button {
						background: none;
						outline: none;
						border: none;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 21px;
						letter-spacing: 0.392857px;
						text-decoration-line: underline;
						color: #e3507a;

						&.no__withdraw {
							color: #fff;
							text-decoration: none;
							cursor: not-allowed;
						}

						&.withdrawn {
							text-decoration: none;
							opacity: 0.5;
							cursor: not-allowed;
						}
					}
				}
			}
		}
	}
}
