* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: var(--color-bg);
}

/* Swirl-in Animation */
.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.8s ease-out both;
}

/* Swirl-in Animation Key Frame*/
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  /* .background__image {
    background-attachment: fixed;
  } */
}

@media screen and (min-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }

  .background__image {
    background-size: cover;
  }
}

@media screen and (min-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }

  .background__image {
    background-size: cover;
  }
}
