.coin__tab {
	min-width: 195px;
	max-width: 190px;
	height: 74px;
	padding: 12px;
	border: 1px solid #312f62;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-right: 20px;
	cursor: pointer;

	.coin__logo {
		font-size: 24px;
		color: #494767;
		margin-right: 18px;
	}

	.coin__details {
		width: 100%;

		.value__name,
		.chart__rise__fall {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.value__name {
			margin-bottom: 9px;
			font-style: normal;
			font-weight: normal;
			color: #ffffff;

			.value {
				font-size: 17px;
				line-height: 25px;
				letter-spacing: -0.05em;
				opacity: 0.7;
			}

			.name {
				font-family: HelveticaNeue;
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				opacity: 0.2;
			}
		}

		.chart__rise__fall {
			.chart {
				height: 12px;
				width: 49px;

				&.up {
					path {
						stroke: #3acc8a;
					}

					span:first-child {
						background: #3acc8a !important;
					}
				}

				&.down {
					path {
						stroke: #df5f67;
					}

					span:first-child {
						background: #df5f67 !important;
					}
				}
			}

			.rise__fall {
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 16px;

				span {
					&.up {
						color: #50e3c2;
					}

					&.down {
						color: #e3507a;
					}
				}
			}
		}
	}

	&.active {
		background: linear-gradient(
			135deg,
			#f0b90b 0%,
			#d7a60b 19.24%,
			#f7931a 68.64%,
			#fead4c 81.77%,
			#cf7406 100%
		);

		.coin__logo {
			color: #fff;
		}

		.coin__details {
			.value__name {
				.value {
					opacity: 1;
				}

				.name {
					opacity: 0.5;
				}
			}
		}

		.chart__rise__fall {
			.chart {
				height: 12px;
				width: 49px;

				&.up {
					path {
						stroke: #fff;
					}

					span:first-child {
						background: #fff !important;
					}
				}

				&.down {
					path {
						stroke: #fff;
					}

					span:first-child {
						background: #fff !important;
					}
				}
			}

			.rise__fall {
				span {
					color: #fff;

					svg {
						color: #fff;
					}
				}
			}
		}
	}
}
